BasedOnStyle: Chromium
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignTrailingComments: 'true'
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'true'
Cpp11BracedListStyle: 'true'
Language: Cpp
PointerAlignment: Left
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
Standard: Cpp11
ColumnLimit: 0
