*.pyc
*.log
*.root
*.tar.xz
*.tar.gz
.vscode
*.sqlite
*.png
messages.txt
nohup.out
crabWorkArea
condorGarage
crabGarage
.fuse*
docker_stderror

/ffConfig/crab/*.yml
/piedpiper/crab/*.yml

!/ffConfig/crab/multicrabConfig_bkgMC.yml
!/ffConfig/crab/multicrabConfig_sigMC.yml
!/ffConfig/crab/multicrabConfig_data.yml
!.gitlab-ci.yml
